.shopcart {
    width: 100%;
    height: 51px;
    background-color: #514f4f;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
}

.shopcart.highlight{
    background: #2d2b2a;
}

.shopcart .content-left{
    flex: 1;
}

.shopcart .content-left .logo-wrapper{
    width: 50px;
    height: 50px;
    background: #666666;
    border-radius: 50%;
    position: relative;
    top: -14px;
    left: 10px;
    text-align: center;
    float: left;
}

.shopcart .content-left .logo-wrapper.highlight{
    background: #ffd161;
}

.shopcart .content-left .logo-wrapper .num{
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    font-size: 9px;
    color:white;
    background: red;
    position: absolute;
    top:0;
    right:0;

}

.shopcart .content-left .logo-wrapper .logo{
    font-size: 28px;
    color: #c4c4c4;
    line-height: 50px;
}

.shopcart .content-left .logo-wrapper .logo.highlight{
    color: #2d2b2a;
}

.shopcart .content-left .desc-wrapper {
    float: left;
    margin-left: 13px;
}

.shopcart .content-left .desc-wrapper .total-price{
    font-size: 18px;
    line-height: 33px;
    color: white;
}

.shopcart .content-left .desc-wrapper .tip{
    font-size: 12px;
    color: #bab9b9;
    line-height: 51px;
}

.shopcart .content-left .desc-wrapper .tip.highlight{
    line-height: 12px;
}

.shopcart .content-right{
    flex: 0 0 110px;
    font-size: 15px;
    color: #bab9b9;
    line-height: 51px;
    text-align: center;
}

.shopcart .content-right.highlight{
    background: #ffd161;
    color: #2d2b2a;
}



.shopcart .shopcart-list {
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    width:100%;
}

.shopcart .shopcart-list.show {
    transform: translateY(-100%);
}

.shopcart .shopcart-list .list-top{
    height: 30px;
    text-align: center;
    font-size: 11px;
    background: #f3e6c6;
    line-height: 30px;
    color: 646158;
}

.shopcart .shopcart-list .list-header{
    height: 30px;
    background: #f4f4f4;
}

.shopcart .shopcart-list .list-header .title{
    float: left;
    border-left: 4px solid #53c123;
    padding-left: 6px;
    line-height: 30px;
    font-size: 12px;
}

.shopcart .shopcart-list .list-header .empty{
    float: right;
    line-height: 30px;
    margin-right: 10px;
    font-size: 0;
}

.shopcart .shopcart-list .list-header .empty img{
    height: 14px;
    margin-right: 9px;
    vertical-align: middle;
}

.shopcart .shopcart-list .list-header .empty span{
    font-size: 12px;
    vertical-align: middle;
}

.shopcart .shopcart-list .list-content {
    max-height: 360px;
    overflow: hidden;
    background: white;
}

.shopcart .shopcart-list .list-content .food{
    height: 38px;
    padding: 12px 12px 10px 12px;
    border-bottom: 1px solid #f4f4f4;
}

.shopcart .shopcart-list .list-content .food .desc-wrapper{
    float: left;
    width: 240px;
}

.shopcart .shopcart-list .list-content .food .desc-wrapper .desc-left{

}


.shopcart .shopcart-list .list-content .food .desc-wrapper .desc-right{
    
}


.shopcart .shopcart-list .list-content .food .cartcontrol-wrapper{
    float:right;
}
